.list-cell {
    -fx-shape:"m 211.78571,327.00506 265.35715,1.42857 c 3.43583,0.42441 7.17703,0.33987 7.85714,5.35715 l 0.35714,130.35714 c -0.68955,6.94804 -4.85362,7.81568 -9.28571,8.21429 L 242.5,472.00506 c -2.89525,-1.2809 -6.19455,0.26662 -8.21429,-7.14285 l 0.35715,-111.07143 z";
    -fx-background-color: #AD1457;
    -fx-background-insets: 0,1;
    -fx-padding: 50;
}

.chat-bubble-to {
    -fx-shape:"m 484.76823,327.00506 -265.35715,1.42857 c -3.43583,0.42441 -7.17703,0.33987 -7.85714,5.35715 l -0.35714,130.35714 c 0.68955,6.94804 4.85362,7.81568 9.28571,8.21429 l 233.57143,-0.35715 c 2.89525,-1.2809 6.19455,0.26662 8.21429,-7.14285 l -0.35715,-111.07143 z";
    -fx-background-color: #673AB7;
    -fx-background-insets: 0,1;
    -fx-padding: 50;
}